<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @consultorio.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @consultorio.direccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @consultorio.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @consultorio.telefono %>
</p>

<%= link_to 'Edit', edit_consultorio_path(@consultorio) %> |
<%= link_to 'Back', consultorios_path %>
